<div class="header">
  <figure>
    <img
      src="https://marketplace.plantvsundead.com/_nuxt/img/logo.487528b.svg"
      alt=""
    />
  </figure>
  <ul>
    <li>
      <a [routerLink]="['/calculator']" routerLinkActive="router-link-active"
        >Plant Calculator</a
      >
    </li>
    <li>
      <a [routerLink]="['/le-calculator']" routerLinkActive="router-link-active"
        >LE Calculator</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/pvu-calculator']"
        routerLinkActive="router-link-active"
        >PVU Calculator</a
      >
    </li>
  </ul>
</div>
