.container {
  width: 90%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    figure {
      width: 300px;
      margin: 0;

      img {
        max-width: 100%;
      }
    }
  }
}
