.wallet {
  text-align: center;
  min-width: 400px;
  max-width: 80%;
  margin: 10px auto;
}

form {
  width: 500px;
  min-width: 400px;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }

  .input {
    display: flex;
    justify-content: space-around;
    width: 100px;

    input {
      width: 50px;
    }

    label {
      margin-right: 10px;
    }
  }

  p {
    margin: 0 10px;
  }
}

.card {
  background-color: #151721;
  border: gray 1px solid;
  border-radius: 12px;
  color: white;
  font-family: "Poppins", sans-serif;
  max-width: 350px;
  min-width: 220px;
  width: 250px;
  margin: 12px;
  display: flex;
  justify-content: left;
  align-items: center;

  figure {
    width: 30px;
    margin: 7px;
    margin-right: 15px;
    img {
      width: 100%;
    }
  }
}

.le-section {
  width: 90%;
  margin: 0 auto;
  max-width: 1536px;
  min-width: 400px;
  h1 {
    font-size: 19pt;
  }

  .le-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: auto;
  }
}
