<h3 class="wallet">PVU Calculator</h3>
<p class="wallet">
  This tool was developed and is being maintained by members of the PVU
  community, if you wish to make any contribution as a form of gratitude in
  order to help us keep this website running, you can do it at the following
  address of the Binance Smart Chain (BNB, BUSD, ...) :
</p>
<p class="wallet">0x11b3eea0Ae8f23Cd7648bF44cE15Ec4E0F037843</p>

<form action="">
  <div class="wrapper">
    <p>I have</p>
    <div class="input">
      <input id="le" type="number" name="le" [(ngModel)]="le" />
      <label for="le">LE</label>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" (click)="getPVU(le)">
    How many PVU do I have?
  </button>
</form>

<div class="le-section" *ngIf="pvu > 0">
  <div class="le-cards">
    <div class="card">
      <figure>
        <img
          src="https://marketplace.plantvsundead.com/_nuxt/img/pvu-icon.fa9e648.svg"
          alt=""
        />
      </figure>
      <p class="section">You have {{ pvu | number }} PVU</p>
      <p class="section smaller">at a exhange ratio 150 LE = 1 PVU</p>
      <p class="section smaller">5% tax fee included</p>
    </div>
    <p class="or">or</p>
    <div class="card">
      <figure>
        <img src="https://img.icons8.com/color/96/000000/usa-circular.png" />
      </figure>
      <p class="section">You have {{ getDollars() | number }} Dollars</p>
      <p class="section smaller">
        at exchange ratio 1 PVU = {{ dollarPrice | number }} Dollar
      </p>
    </div>
  </div>
</div>
