<h3 class="wallet">Garden Calculator</h3>
<p class="wallet">
  This tool was developed and is being maintained by members of the PVU
  community, if you wish to make any contribution as a form of gratitude in
  order to help us keep this website running, you can do it at the following
  address of the Binance Smart Chain (BNB, BUSD, ...) :
</p>
<p class="wallet">0x11b3eea0Ae8f23Cd7648bF44cE15Ec4E0F037843</p>

<div class="section">
  <div class="plant-section">
    <h1>Plants</h1>
    <div class="plants">
      <div class="card">
        <figure>
          <img
            src="https://pvu-static.s3.ap-southeast-1.amazonaws.com/farms/sapling.svg"
            alt=""
          />
        </figure>
        <div class="info">
          <p>250 LE / 72 Hours</p>
          <button class="btn btn-primary no-radius">Add</button>
        </div>
      </div>
      <div class="card">
        <figure>
          <img
            src="https://pvu-static.s3.ap-southeast-1.amazonaws.com/farms/mama.svg"
            alt=""
          />
        </figure>
        <div class="info">
          <p>850 LE / 144 Hours</p>
          <button class="btn btn-primary no-radius">Add</button>
        </div>
      </div>
      <div class="card">
        <figure>
          <img
            src="https://pvu-static.s3.ap-southeast-1.amazonaws.com/farms/sapling.svg"
            alt=""
          />
        </figure>
        <div class="info">
          <p>250 LE / 72 Hours</p>
          <button class="btn btn-primary no-radius">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="time-section">
    <h1>Time</h1>
    <div class="times">times time time</div>
  </div>
</div>

<div class="table-section"></div>
